@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --primary-color: #FAF9F6;
  --text-color: #121212;
  --accent-color: #ebebeb8e;
  --hover-color: #000000;
  --header-height: 4rem;
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 6rem;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.filter-btn {
  transition: all 0.3s ease;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.filter-btn::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-color);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}

.filter-btn.active:after {
  width: 100%;
}

.filter-btn:hover::after {
  width: 100%;
}

.filter-active::after {
  width: 100%;
}

.fade-in {
  animation: fadeIn 0.8s ease forwards;
  opacity: 0;
  -webkit-animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

.cursor-dot {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 200ms ease, height 200ms ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: width 200ms ease, height 200ms ease;
  -moz-transition: width 200ms ease, height 200ms ease;
  -ms-transition: width 200ms ease, height 200ms ease;
  -o-transition: width 200ms ease, height 200ms ease;
}

@media (min-width: 1024px) {
  * {
    cursor: none !important;
  }
}

@media (max-width: 1023px) {
  .cursor-dot {
    display: none;
  }
}